<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <h1>Single</h1>
    <ul>
        <li><a href="/">back</a></li>
    </ul>

    <div>
        <p><%= cart.title %></p>
    </div>
    <div>
        <p><%= cart.serial %></p>
    </div>
    <div>
        <p><%= cart.location %></p>
    </div>
    <div>
        <img src="<%= cart.front_picture %>.jpg" alt="Front of cartridge">
    </div>
    <div>
        <img src="<%= cart.back_picture %>.jpg" alt="Back of cartridge">
    </div>
    <div>
        <img src="<%= cart.label_picture %>.jpg" alt="Cartridge label">
    </div>
    <div>
        <p><%= cart.notes %></p>
    </div>
</body>

</html>